---
layout: challengespage
title:	Challenges
---

<style>
.box {
    margin: 10px 20px 10px 10px;
    padding: 0px 2px 0px 2px;
}

.category {
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
}

.card-header{
    text-align: center;
    color: #ffffff;
}

</style>

<div class="card">
  <div class="card-header bg-secondary">
    Crypto
  </div>
  
  {% include crypto.html %}
</div>



<div class="card">
  <div class="card-header bg-secondary">
    Reversing
  </div>
  
  {% include reversing.html %}
</div>


<div class="card">
  <div class="card-header bg-secondary">
    Bin
  </div>
  
  {% include bin.html %}
</div>



<div class="card">
  <div class="card-header bg-secondary">
    Misc
  </div>
  
  {% include misc.html %}
</div>


