 <div class="user-details">
  <h1> Who are we? </h1>
  <p> {{site.user_description}} </p>
  <img style="max-width:200px" alt="SCSE-Offsec logo" src="{{ "/assets/img/0ff5ec_circular.png" | prepend: site.baseurl }}"/>
  <h1>What we do?</h1>
</div>
  <div class="user">
    <style>
	.about-logo{ max-width:110px }
    </style>
    <div class="tech container-md">
      <h2>Play</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Capture The Flags</p>
      <p>Cyber Defenders Discovery Camp (CDDC)</p>
      <p>Singapore Cyber Conquest (SCC) </p>
    </div>
    <div class="tech container-md">
      <h2>Hack</h2>
      <img alt="HacktheboxEU" class="about-logo" src="{{ "/assets/img/hacktheboxEU-logo.png" | prepend: site.baseurl }}" />
      <img alt="kali linux" class="about-logo" src="{{ "/assets/img/kali-linux-logo.png" | prepend: site.baseurl }}" /><br >
      <img alt="OSCP" class="about-logo" src="{{ "/assets/img/OSCP.png" | prepend: site.baseurl }}" />
      <img alt="Vulnhub" class="about-logo" src="{{ "/assets/img/vulnhub-logo.png" | prepend: site.baseurl }}" />
      <p>Hackthebox.EU</p>
      <p>Kali Linux</p>
      <p>OSCP internal training</p>
      <p>VulnHub</p>
    </div>
    <div class="tech container-md">
      <h2>Contribute</h2>
      <img alt="Crossctf" class="about-logo" src="{{ "/assets/img/crossctf-logo.png" | prepend: site.baseurl }}" />
      <img alt="JDC" class="about-logo" src="{{ "/assets/img/JDC2017.png" | prepend: site.baseurl }}" />
	
      <p>Hands On Workshops</p>
      <p>Hacker's Night</p>
      <p>SCSE TechFest</p>
      <p>Organize Competitions</p>
    </div>
</div>
