<div class="card-body container row category" >

		<div class="card col-md-3 box">
		  <div class="card-body">
		    <h5 class="card-title">authme</h5>
		    <p class="card-text">Description of the challenge</p>
			<a href="{{site.baseurl}}/challenges/Bin/authme" class="card-link">File</a> <br>
		  </div>
		</div>

		<div class="card col-md-3 box">
		  <div class="card-body">
		    <h5 class="card-title">authme2</h5>
		    <p class="card-text">Description of the challenge</p>
			<a href="{{site.baseurl}}/challenges/Bin/authme2" class="card-link">File</a> <br>
		  </div>
		</div>

		<div class="card col-md-3 box">
		  <div class="card-body">
		    <h5 class="card-title">GoWhereNext</h5>
		    <p class="card-text">Description of the challenge</p>
			<a href="{{site.baseurl}}/challenges/Bin/GoWhereNext" class="card-link">File</a> <br>
		  </div>
		</div>

		<div class="card col-md-3 box">
		  <div class="card-body">
		    <h5 class="card-title">sl33py</h5>
		    <p class="card-text">Description of the challenge</p>
			<a href="{{site.baseurl}}/challenges/Bin/sl33py" class="card-link">File</a> <br>
		  </div>
		</div>


</div>
