<div class="card-body container row category" >

		<div class="card col-md-3 box">
		  <div class="card-body">
		    <h5 class="card-title">Cl4ss1c</h5>
		    <p class="card-text">Listen to some <a href="https://www.youtube.com/watch?v=hKgl5-lkT8U">music</a> while you are at it.</p>
			<a href="{{site.baseurl}}/challenges/Crypto/Cl4ss1c" class="card-link">File</a> <br>
		  </div>
		</div>

		<div class="card col-md-3 box">
		  <div class="card-body">
		    <h5 class="card-title">Encoding1</h5>
		    <p class="card-text">All about the <a href="https://www.youtube.com/watch?v=7PCkvCPvDXk">baseeee~</a> </p>
			<a href="{{site.baseurl}}/challenges/Crypto/Encoding1" class="card-link">File</a> <br>
		  </div>
		</div>

		<div class="card col-md-3 box">
		  <div class="card-body">
		    <h5 class="card-title">Encoding2</h5>
		    <p class="card-text">I love ABCD</p>
			<a href="{{site.baseurl}}/challenges/Crypto/Encoding2" class="card-link">File</a> <br>
		  </div>
		</div>

		<div class="card col-md-3 box">
		  <div class="card-body">
		    <h5 class="card-title">C4lcul4t3_RSA</h5>
		    <p class="card-text">How to decrypt RSA???</p>
			<a href="{{site.baseurl}}/challenges/Crypto/C4lcul4t3_RSA/C4lcul4t3_RSA" class="card-link">File</a> <br>
			<a href="{{site.baseurl}}/challenges/Crypto/C4lcul4t3_RSA/hint.txt" class="card-link">Hint</a> <br>			
		  </div>
		</div>

		<div class="card col-md-3 box">
		  <div class="card-body">
		    <h5 class="card-title">M0dulo_Inv3rse_RSA</h5>
		    <p class="card-text">e * d mod (p-1)(q-1) = 1</p>
			<a href="{{site.baseurl}}/challenges/Crypto/M0dulo_Inv3rse_RSA" class="card-link">File</a> <br>
		  </div>
		</div>

</div>
