<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Our Facebook" target="_blank" href="{{site.fburl}}"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="Our Home" target="_blank" href="{{site.homeurl}}"><i class="icon fa fa-home" aria-hidden="true"></i></a>
        <a aria-label="Our Github" target="_blank" href="{{site.githuburl}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Us</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
