<div class="card-body container row category" >

		<div class="card col-md-3 box">
		  <div class="card-body">
		    <h5 class="card-title">dir3ct0r135</h5>
		    <p class="card-text">Description of the challenge</p>
			<a href="{{site.baseurl}}/challenges/Misc/dir3ct0r135/dir3ct0r135.zip" class="card-link">File</a> <br>
			<a href="{{site.baseurl}}/challenges/Misc/dir3ct0r135/pass4zip.txt" class="card-link">pass</a> <br>
		  </div>
		</div>

		<div class="card col-md-3 box">
		  <div class="card-body">
		    <h5 class="card-title">explosion</h5>
		    <p class="card-text">Description of the challenge</p>
			<a href="{{site.baseurl}}/challenges/Misc/explosion/explosion.zip" class="card-link">File</a> <br>
		  </div>
		</div>

		<div class="card col-md-3 box">
		  <div class="card-body">
		    <h5 class="card-title">brutalSHA256</h5>
		    <p class="card-text">Description of the challenge</p>
			<a href="{{site.baseurl}}/challenges/Misc/brutalSHA256/brutalSHA256.zip" class="card-link">File</a> <br>
		  </div>
		</div>


</div>
