<div class="user-details">
  <h1> Recruitment </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <!--<img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" /> -->
    <iframe width="600" height="360" src="https://www.youtube.com/embed/8ev9ZX9J45A" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="contents-left">
    <h3>If you have the ...</h3>
    <ul>
      <li> Willingness to learn</li>
      <li> Willingness to contribute </li>
      <li> Perseverence </li>
      <li> Passion </li>
      <li> Commitment </li>
    </ul>
    <h4>WE WANT YOU AS A FAMILY</h4>
    <p>We have prepared some easy(to not so easy) CTF challenges here. Try to solve as many as you can ;)</p>
    <p>Email as many flags you can get to us <a href="mailto:{{site.email}}">here</a> or <a href="mailto:{{site.email2}}">here</a></p>

    <p>Tell us why you love security<p>
	<ul>
	  <li>why you want to join us</li>
          <li>what can you offer.</li>
	</ul>
    <p>We look forward to your emails   <br>- Admin</p>

    <a class="project-link" href="{{ "challenges.html" | prepend: site.baseurl }}">Check it out</a>
  </div>
</div>
</div>
